* {
	margin: 0;
	padding: 0;
}

header {
	background-color: white;
	width: 100%;
	height: 75px;
	border: 1px solid;
}

#menu_center ul {
	display: block;
	text-align: center;
}

#menu_right ul {
	text-align: right;
}

header li {
	display: inline-block;
	list-style-type: none;
}

header a {
	text-decoration: none;
	display: block;
}

#menu_main {
	width: 100%;
	height: 75px;
}

#menu_left {
	width: 20%;
	height: 75px;
	float: left;
}

#menu_left a {
	color: black;
	font-size: 1.5em;
	margin: 12px 20px;
	font-weight: lighter;
}

#menu_center {
	width: 60%;
	height: 75px;
	float: left;
}

#menu_center a {
	color: black;
	font-size: 1.5em;
	margin: 12px 10px;
}

#menu_right {
	width: 20%;
	height: 75px;
	float: right;
}

#menu_right a {
	color: black;
	font-size: 1.5em;
	margin: 12px 10px;
}